<% provide(:title, 'Создать объявление') %>
<% if logged_in? %>
<h1>Создать объявление</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@microposts) do |f| %>

            <%= f.label "Название" %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label "Описание" %>
            <%= f.text_field :content, class: 'form-control' %>

            <%= f.label "Статус" %>
            <%= f.check_box :status %>

            <%= f.submit "Создать", class: "btn btn-primary" %>

            <% end %>
    </div>
</div>
<% end %>
