<%= provide(:title, "Объявление") %>
<div class="row microposts-show">
<div class="col-md-12 microposts-show__title">
  <h3>Заголовок:</h3>
  <div><%= @micropost.title %></div>
</div>

<div class="col-md-12 microposts-show__img">
    <%= image_tag (@micropost.picture.url) %>
</div>

<div class="col-md-12 microposts-show__content">
  <div>Описание:</div>
  <div><%= @micropost.content %></div>
</div>

<div class="col-md-12 microposts-show__author">
  <strong>Автор:</strong>
  <%= link_to(@micropost.user.name, @micropost.user, class: "microposts__link") %>
</div>

<div class="col-md-12 microposts-show__status">
  <strong>Статус:</strong>
  <%= active_status(@micropost.status) %>
</div>

<div class="timestamp col-md-12 microposts-show__date">
    <span>Дата:</span> <%= time_ago_in_words(@micropost.created_at) %>
</div>

<div class="col-md-12 footer-summary">
    <strong>Теги:</strong>
    <%= raw @micropost.tags.map(&:name).map{ |t| link_to t, tag_path(t),
                                                   class: 'tag tag-primary' }.join(' ')%>
</div>
</div>

<% if logged_in? %>
<div class="row">
<h3>Создать комментарий:</h3>
<%= render 'shared/comment_form' %>
</div>
<% end %>

<div class="row">
<h3>Все комментарии (<span class="warrning">Создать комментарий могут только авторизованные пользователи!</span>):</h3>
<div class="microposts-comments">
    <% @comments.each do |comment| %>
      <div class="microposts-comments__item">
        <div><%= gravatar_for @user %></div>
        <div class="microposts-comments__text" id="sel" )"><%= comment.comment_text %></div>
        <div class="microposts-comments__tool">
            <div class="microposts-comments__date">
                <span>Дата:</span>  <%= time_ago_in_words( comment.created_at) %>
            </div>
            <div class="microposts-comments__author">
                <span>Автор:</span><%= link_to set_user(comment.user_id), @micropost.user, :class=>"link" %>
            </div>
            <div class="microposts-comments__func">
                 <% if comment.user_id == current_user.id %>
                    <%= link_to "Удалить", comment, method: :delete,
                                                           data: { confirm: "Вы уверены?" }, class: "microposts__link" %>
                 <% end %>
            </div>
        </div>
      </div>
    <% end %>
</div>
</div>